1.	Write a Python program to sum all the elements in a list.
2.	Write a Python program to find the largest element in a list.
3.	Write a Python program to count the number of elements in a list.
4.	Write a Python program to find the average of elements in a list.
5.	Write a Python program to reverse a list.
6.	Write a Python program to check if a given element exists in a list.
7.	Write a Python program to remove duplicate elements from a list.
8.	Write a Python program to find the second largest element in a list.
9.	Write a Python program to sort elements in a list in ascending order.
10.	Write a Python program to merge two lists and sort them.
11.	Question: Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.
12.	Question: Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 8 from the list? Write a Python program to achieve this.
13.	Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9],[1,55,77,100]]?
14.	Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [1,55,77,100]] using negativeÂ indexing?

In [ ]:
# 1. Write a Python program to sum all the elements in a list.
list1=[1,3,4,6,13,15]
print("Sum is ",sum(list1))

Sum is  42

In [ ]:
# 2. Write a Python program to find the largest element in a list.
print("Largest Element is",max(list1))

Largest Element is 15

In [ ]:
# 3. Write a Python program to count the number of elements in a list.
print("Number of Elemnts is",len(list1))

Number of Elemnts is 6

In [ ]:
# 4. Write a Python program to find the average of elements in a list.
average=sum(list1)/len(list1)
print("Average is",average)

Average is 7.0

In [ ]:
# 5. Write a Python program to reverse a list.
print(list1)
print(list1[::-1])

[1, 3, 4, 6, 13, 15]
[15, 13, 6, 4, 3, 1]

In [ ]:
 # 6. Write a Python program to check if a given element exists in a list.
 element = 13
 print("Does the element exist? -",element in list1)

Does the element exist? - True

In [ ]:
# 7. Write a Python program to remove duplicate elements from a list.
list2=[1,2,34,4,5,6,5,2]
unique_list2=set(list2)
ulist2=list(unique_list2)
print(ulist2)

[1, 2, 34, 4, 5, 6]

In [ ]:
# 8. Write a Python program to find the second largest element in a list.
print(list2)
slist2=sorted(list2,reverse=True)
print(slist2)
print("Second Largest Element is",slist2[1])

[1, 2, 34, 4, 5, 6, 5, 2]
[34, 6, 5, 5, 4, 2, 2, 1]
Second Largest Element is 6

In [ ]:
# 9. Write a Python program to sort elements in a list in ascending order.
print(list2)
print("Ascending Order",sorted(list2))

[1, 2, 34, 4, 5, 6, 5, 2]
Ascending Order [1, 2, 2, 4, 5, 5, 6, 34]

In [ ]:
# 10. Write a Python program to merge two lists and sort them.
list3=list1+ulist2
print(list3)
print("Sorted List :",sorted(list3))

[1, 3, 4, 6, 13, 15, 1, 2, 34, 4, 5, 6]
Sorted List : [1, 1, 2, 3, 4, 4, 5, 6, 6, 13, 15, 34]

In [ ]:
# 11. Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.
list4=  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(list4)
print("Access number 9- list4[2][2] :",list4[2][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Access number 9- list4[2][2] : 9

In [ ]:
# 12. Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
# how can you access the number 8 from the list? Write a Python program to achieve this.
print(list4)
print("Access number 8 - list4[2][1] :",list4[2][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Access number 8 - list4[2][1] : 8

In [ ]:
# 13. How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9],[1,55,77,100]]?
list5= [[1, 2, 3], [4, 5, 6], [7, 8, 9],[1,55,77,100]]
print(list5)
print("Access number 100 - list5[3][3] :",list5[3][3])

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 55, 77, 100]]
Access number 100 - list5[3][3] : 100

In [ ]:
# 14. How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] using negative indexing?
list5= [[1, 2, 3], [4, 5, 6], [7, 8, 9],[1,55,77,100]]
print(list5)
print("Access number 100 using negative indexing - list5[-1][-1] :",list5[-1][-1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 55, 77, 100]]
Access number 100 using negative indexing - list5[-1][-1] : 100