Question no 1: Given a tuple my_tuple = (10, 20, 30, 40, 50), how can you access the element 30 from the tuple using positive indexing? Write a Python program to achieve this.

Question no 2: Suppose you have a tuple my_tuple = (15, 25, 35, 45, 55), how can you access the element 45 from the tuple using negative indexing? Write a Python program to achieve this.

Question no 3: Given a tuple my_tuple = (1, 2, 3, (4, 5, 6)), how can you access the element 5 from the nested tuple within it using nested indexing? Write a Python program to achieve this.

Question no 4: Suppose you have a tuple my_tuple = (10, 20, 30, 40, 50), how can you slice the tuple to obtain (20, 30, 40)? Write a Python program to achieve this.

Question no 5: Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you access the last element without knowing its index? Write a Python program to achieve this.

Question no 6: Suppose you have two tuples tuple1 = (10, 20, 30) and tuple2 = (40, 50, 60), how can you concatenate them into a single tuple? Write a Python program to achieve this.

Question no 7: Given a tuple my_tuple = ('a', 'b', 'c', 'd', 'e'), how can you check if the element 'c' exists in the tuple? Write a Python program to achieve this.

Question no 8: Suppose you have a tuple my_tuple = ('apple', 'banana', 'cherry', 'apple'), how can you count the number of occurrences of 'apple' in the tuple? Write a Python program to achieve this.

Question no 9: Given a tuple my_tuple = (3.14, 'hello', True, (1, 2, 3)), how can you access the nested tuple (1, 2, 3) from it? Write a Python program to achieve this.

Question no 10: Suppose you have a tuple my_tuple = (10, 20, 30), how can you convert it into a list? Write a Python program to achieve this.



Question no 11: Suppose you have a tuple my_tuple = (10, 20, 30, 40, 50), how can you find the smallest and largest elements in the tuple? Write a Python program to achieve this.



Question no 12: Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), how can you check if the two tuples are equal? Write a Python program to achieve this.

In [ ]:
# Question no 1: Given a tuple my_tuple = (10, 20, 30, 40, 50), how can you access the element 30 from the tuple using positive indexing?
# Write a Python program to achieve this.
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[2])

30

In [ ]:
# Question no 2: Suppose you have a tuple my_tuple = (15, 25, 35, 45, 55), how can you access the element 45 from the tuple using negative indexing?
# Write a Python program to achieve this.
my_tuple2 = (15, 25, 35, 45, 55)
print(my_tuple2[-2])

45

In [ ]:
# Question no 3: Given a tuple my_tuple = (1, 2, 3, (4, 5, 6)), how can you access the element 5 from the nested tuple within it using nested indexing?
# Write a Python program to achieve this.
my_tuple3 = (1, 2, 3, (4, 5, 6))
print(my_tuple3[3][1])

5

In [ ]:
# Question no 4: Suppose you have a tuple my_tuple = (10, 20, 30, 40, 50), how can you slice the tuple to obtain (20, 30, 40)?
# Write a Python program to achieve this.
my_tuple4 = (10, 20, 30, 40, 50)
print(my_tuple4[1:4])

(20, 30, 40)

In [ ]:
# Question no 5: Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you access the last element without knowing its index?
# Write a Python program to achieve this.
my_tuple5 = (1, 2, 3, 4, 5)
print(my_tuple5[-1])

5

In [ ]:
# Question no 6: Suppose you have two tuples tuple1 = (10, 20, 30) and tuple2 = (40, 50, 60), how can you concatenate them into a single tuple?
# Write a Python program to achieve this.
tuple6_1 = (10, 20, 30)
tuple6_2 = (40, 50, 60)
tuple6= tuple6_1+tuple6_2
print(tuple6)

(10, 20, 30, 40, 50, 60)

In [ ]:
# Question no 7: Given a tuple my_tuple = ('a', 'b', 'c', 'd', 'e'), how can you check if the element 'c' exists in the tuple?
# Write a Python program to achieve this.
my_tuple7 = ('a', 'b', 'c', 'd', 'e')
print( 'c' in my_tuple7)

True

In [ ]:
# Question no 8: Suppose you have a tuple my_tuple = ('apple', 'banana', 'cherry', 'apple'), how can you count the number of occurrences of 'apple' in the tuple?
#  Write a Python program to achieve this.
my_tuple8 = ('apple', 'banana', 'cherry', 'apple')
print("Number of Occurences of Apple is",my_tuple8.count('apple'))

Number of Occurences of Apple is 2

In [ ]:
# Question no 9: Given a tuple my_tuple = (3.14, 'hello', True, (1, 2, 3)), how can you access the nested tuple (1, 2, 3) from it?
# Write a Python program to achieve this.
my_tuple9 = (3.14, 'hello', True, (1, 2, 3))
print(my_tuple9[3])

(1, 2, 3)

In [ ]:
# Question no 10: Suppose you have a tuple my_tuple = (10, 20, 30), how can you convert it into a list?
# Write a Python program to achieve this.
my_tuple10 = (10, 20, 30)
print(type(my_tuple10))
print(my_tuple10)
my_tuple10=list(my_tuple10)
print(type(my_tuple10))
print(my_tuple10)

<class 'tuple'>
(10, 20, 30)
<class 'list'>
[10, 20, 30]

In [ ]:
# Question no 11: Suppose you have a tuple my_tuple = (10, 20, 30, 40, 50), how can you find the smallest and largest elements in the tuple?
# Write a Python program to achieve this.
my_tuple11 = (10, 20, 30, 40, 50)
print("Smallest Element is",min(my_tuple11))
print("Largest Element is",max(my_tuple11))

Smallest Element is 10
Largest Element is 50

In [ ]:
# Question no 12: Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), how can you check if the two tuples are equal?
# Write a Python program to achieve this.
tuple12_1 = (1, 2, 3)
tuple12_2 = (4, 5, 6)
if tuple12_1 == tuple12_2:
  print("Tuple",tuple12_1,"and Tuple",tuple12_2,"are equal.")
else:
  print("Tuple",tuple12_1,"and Tuple",tuple12_2,"are not equal.")

Tuple (1, 2, 3) and Tuple (4, 5, 6) are not equal.