# MODULE 6 : SUPERVISED MACHINE LEARNING

## Task 2: Build a Classification Model for Customer Churn Prediction

In [41]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix,recall_score,precision_score,f1_score

In [42]:
data=pd.read_csv("Bank Customer Churn Prediction.csv")
data

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [43]:
le=LabelEncoder()
data['gender']=le.fit_transform(data['gender'])

In [44]:
data['country']=le.fit_transform(data['country'])

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  int32
 3   gender            10000 non-null  int32
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int32(2), int64(8)
memory usage: 859.5 KB

In [46]:
data.isnull().sum()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [47]:
x=data.drop(columns=['churn'])
y=data['churn']

In [48]:
print("X Shape :",x.shape)
print("Y Shape :",y.shape)

X Shape : (10000, 11)
Y Shape : (10000,)

In [49]:
scaler=StandardScaler()
x_scaled = scaler.fit_transform(x)

In [50]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2,random_state=42)

In [51]:
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [52]:
y_pred = model.predict(x_test)

In [53]:
accuracy = accuracy_score(y_test,y_pred)
print("Accuracy :",accuracy)

Accuracy : 0.8155

In [54]:
conf_mat = confusion_matrix(y_test,y_pred)
print('Confusion Matrix :\n',conf_mat)

Confusion Matrix :
 [[1560   47]
 [ 322   71]]

In [55]:
precision = precision_score(y_test,y_pred)
print("Precision :",precision)

Precision : 0.6016949152542372

In [56]:
recall = recall_score(y_test,y_pred)
print("Recall :",recall)

Recall : 0.1806615776081425

In [57]:
f1 = f1_score(y_test,y_pred)
print("F1 Score :",f1)

F1 Score : 0.27788649706457924