In [16]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [17]:
df1 = pd.read_csv("wine_5.csv")
df2 = None
df3 = None
df4 = None
df5 = None
df6 = None

In [18]:
df1

,Bottle,Grape,Origin,Alcohol,pH,Colour,Aroma,Add more columns
0,1,Chardonnay,Australia,14.23,3.51,White,Floral,NaN
1,2,Pinot Grigio,Italy,13.20,3.30,White,Fruity,NaN
2,3,Pinot Blanc,France,13.16,3.16,White,Citrus,NaN
3,4,Shiraz,Chile,14.91,3.39,Red,Berry,NaN
4,5,Malbec,Argentina,13.83,3.28,Red,Fruity,NaN

In [23]:
for i,df in enumerate([df2, df3, df4, df5, df6]):
    assert df1.equals(df), f"df1 not equal to df{ i + 2}"
print("All Tests Passed")

AssertionError: df1 not equal to df2